.anchor {
    -fx-background-image:url('file:src/com/hotelco/images/beach.jpg');
    -fx-background-size: cover;
}
.background{
    -fx-background-image:url('file:src/com/hotelco/images/background.jpg');
    -fx-background-size: cover;

}